#lsform{
	background:{
		color: #25d5d0;
	}
	font-size: 0;
	input{
		border-top: solid 3px #36c1d6;
		border-left: solid 3px #36c1d6;
		border-right: none;
		border-bottom: none;
		border-radius: 0;
		-webkit-appearance : none;
		height: 40px;
		padding: 0 12px;
	}	
}
.lsform_title{
	text-align: center;
	font:{
		weight: bold;
	}
	color: #1b1818;
}
.lsform_box{
	overflow: hidden;
}
.lsform_box_btn{
	border-top: solid 3px #36c1d6;
	border-left: solid 3px #36c1d6;
	float: left;
	height: 40px;
	text:{
		align: center;
		decoration: none;
	}
	background:{
		color: #fff;
	}
	color: #067292;
	&.is-on,&:hover{
		background:{
			color: #067292;
		}
		color: #fff;
	}
}
.lsform_submit{
	display: block;
	height: 40px;
	background:{
		color: #8cc11f;
	}
	color: #fff;
	text:{
		align: center;
		shadow: 0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605,0 0 3px #3f5605;
		decoration: none;
	}
	box-shadow: 0 0 0 3px #fff inset;
	border-radius: 8px;
	&:hover{
		background-color: #4e6d0d;
	}
}
.lsform_agree{
	color: #222;
}
@media screen and (max-width: 767px){
	#lsform{
		padding: 12px 17px 17px;
		input{
			font-size: 15px;
			width: 100%;
			@extend %form_m_marginbottom;
		}
	}
	.lsform_title{
		font:{
			size: 21px;
		}
		margin-bottom: 5px;
	}
	.lsform_box{
		@extend %form_m_marginbottom;
	}
	.lsform_box_btn{
		font-size: 18px;
		padding-top: 6px;
		width: calc( 50% - 5px );
		&:first-child{margin-right: 10px;}
	}
	.lsform_submit{
		font-size: 18px;
		padding-top: 8px;
		margin-bottom: 5px;
	}
	.lsform_agree{
		text-align: center;
		font-size: 14px;
	}
}

@media screen and (max-width: 320px){
	#lsform{
		padding:{
			left: 12px;
			right: 12px;
		} 
	}
	.lsform_title{
		font:{
			size: 19px;
		}
	}
}

@media screen and (min-width: 768px){
	#lsform{
		padding: 20px 15px;
		input{
			font-size: 19px;
			float: left;
		}
		.wrapper{
			width: 690px;
			overflow: hidden;
		}
	}
	.lsform_title{
		margin-bottom: 15px;
		font:{
			size: 36px;
		}
	}
	.lsform_name{
		width: calc( 100% - 355px);
		margin-right: 15px;
	}
	.lsform_box{
		width: 340px;
		float: left;
	}
	.lsform_phone{
		width: 100%;
		float: left;
		margin: 15px 0;
	}
	.lsform_mail{
		float: left;
		width: calc( 100% - 173px - 15px);
		margin-right: 15px;
	}
	.lsform_box_btn{
		font-size: 19px;
	}
	.lsform_box_btn{
		padding-top: 5px;
		width: calc( 50% - 7px );
		&:first-child{margin-right: 14px;};
	}
	.lsform_submit{
		padding-top: 3px;
		width: 173px;
		float: left;
		margin-bottom: 10px;
		font-size: 25px;
	}
	.lsform_agree{
		text-align: right;
		font-size: 16px;
	}
}