@media screen and (min-width: 768px){
	.lsview_m{
		display: none;
	}
	.wrapper{
		width: 1024px;
		margin: 0 auto;
	}
	////////
	.lsview_pc{
		height: 638px;
		position: relative;
		@include img_path_only("pc_view_bg.jpg");
		background:{
			position: center 0;
		}
		&:after{
			content: "";display: block;
			width: 100%;height: 100px;
			background: linear-gradient(to bottom, #fff,rgba(255,255,255,0));
			position: absolute;
			top: 0;z-index: 10;
		}
		.wrapper{
			height: 638px;
			position: relative;
		}
	}
	////////
	%view_box_pc{
		width: 100%;height: 638px;
		position: absolute;
		top: 0;left: 0;
		background:{
			repeat: no-repeat;
			position: center 0;
		}
	}
	.lsview_pc_sofa{
		@extend %view_box_pc;
		@include img_path_only("pc_view_sofa.png");
	}
	.lsview_pc_snow1{
		@extend %view_box_pc;
		@include img_path_only("pc_view_snow1.png");
	}
	.lsview_pc_snow2{
		@extend %view_box_pc;
		@include img_path_only("pc_view_snow2.png");
	}
	////////
	.lsview_pc_family{
		@include img_path_only("pc_family.png");
		width: 100%;height: 500px;
		position: absolute;
		left: 0;top: 150px;
		background:{
			position: center 0;
		}
	}
	/////////
	.lsview_pc_title{
		background:{
			repeat: no-repeat;
			position: 15px 15px;
			color: rgba(255,255,255,.6)
		}
		border-radius: 15px;
		width: 672px;height: 225px;
		position: absolute;
		top: 150px; right: 25px;
		padding: 22px 0 0 25px;
	}
	.lsview_pc_title_img{
		display: block;
		opacity: 0;
	}
	//
	.lsview_pc_sub{
		font:{
			size: 38px;
			weight: bold;
		}
		text-shadow: 0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff,0 0 4px #fff;
		color: #f55;
		position: absolute;
		right: 76px;
		top: 395px;
		z-index: 3;
		opacity: 0;
	}
	
	.lsview_pc_sub1_ani,
	.lsview_pc_sub2_ani{
		display: inline-block;
		text-indent: -10px;
	}
	.lsview_pc_sub2{
		padding-left: 130px;
	}
	////
	
	////////
	%view_pc_head{
		position: absolute;
		z-index: 11;
	}
	.lsview_pc_logo{
		@extend %view_pc_head;
		width: 250px;height: 60px;
		@include img_path_only("sprite.png");
		background:{
			position: -650px -380px;
		}
		top: 15px;
		left: 20px;
	}
	.lsview_pc_phone{
		@extend %view_pc_head;
		font:{
			size: 17px;
		}
		color: #fff;
		background:{
			color: #ff8431;
		}
		line-height: 40px;
		padding: 0 20px 0 30px;
		border-radius: 0 20px 20px 0;
		right: 26px;top: 25px;
	}
	.lsview_pc_phoneicon{
		@extend %view_pc_head;
		@include img_path_only("sprite.png");
		background:{
			position: -730px -300px;
		}
		top: 15px;right: 237px;
		width: 82px;height: 56px;
	}
	////////===================
	
}