#lsheadm{
	height: 52px;
	background:{
		color: #fff;
	}
	padding: 0 9px 0 10px;
}
.lsheadm_logo{
	@include img_path_only("sprite.png");
	width: 133px;height: 30px;
	background:{
		size: image-width("sprite.png")/1.87 image-height("sprite.png")/1.87;
		position: -347px -203px;
	}
	float: left;
	margin-top: 12px;
}
.lsheadm_call{
	float: right;display: inline-block;
	width: 165px;line-height: 22px;
	border: solid 1px #ff4e00;
	border-radius: 11px;
	color: #ff4e00;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	margin-top: 15px;
}

@media screen and (min-width: 768px){
	#lsheadm{
		display: none;
	}
}